{% extends "layouts/base_html.twig" %}

{% block CONTENT %}
	<section class="index-login">
		<div class="wrapper">
			<div class="index-login-login">
				<h4>
					LOGIN
				</h4>
				<p>
					{% block LOGIN %}
						Have an account already? Sign in here!
					{% endblock LOGIN %}
				</p>
				<form action="{{ route ('login-user') }}" method="post">
					{% if session ('fail') %}
						<div class="alert alert-sucess">{{ session ('fail') }}</div>
					{% endif %}
					{{ csrf_field () }}
					<div class="form-group"></div>
					<input type="text" class="form-control" name="username" placeholder="Username">
					{% if errors.first('username') %}
						<div class="alert alert-danger">
							<ul>{{ errors.first('username')}}</ul>
						</div>
					{% endif %}
				</div>
				<div class="form-group"></div>
				<input type="password" class="form-control" name="password" placeholder="Password">

				{% if errors.first('password')%}
					<div class="alert alert-danger">
						<ul>{{ errors.first('password') }}</ul>
					</div>
				{% endif %}
			</div>
			<button class="btn btn-block btn-primary" type=" submit" name=" submit">
				LOGIN
			</button>
		</form>
	</div>

	<h5>
		Don't have an account?
	</h5>
	<li>
		<a href="signup">
			Sign up here
			<a></li>
		</div>
	</li>
</section>{% endblock CONTENT %}
