<!DOCTYPE html>
<html>

	<head>
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0">
		<title>
			Crypto cene
		</title>
		<link
			rel="stylesheet"
			type="text/css"
			href="{{ asset('css/style.css') }}">
		<link
			rel="preconnect"
			href="https://fonts.googleapis.com">
		<link
			rel="preconnect"
			href="https://fonts.gstatic.com"
			crossorigin>
		<link
			href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
			rel="stylesheet">
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
			crossorigin="anonymous">

	</head>
	<body>
		<section
			class="header">

			<nav>
				<a
					href={{route ('home')}}>
					<img
						src="{{ asset('images/logo.png') }}">
				</a>
				<div
					class="nav-links">
					<ul>
						<li>
							<a
								href={{ route ('home') }}>
								HOME
							</a>
						</li>
						<li>
							<a
								href={{ route ('show_list')}}>
								LIST
							</a>
						</li>
						<li>
							<a
								href={{route ('favourites')}}>
								FAVOURITES
							</a>
						</li>

						{% if not (LoggedUserInfo.uid) %}

							<li>
								<a
									href={{route ('login') }}>
									LOG IN HERE&nbsp

								</a>
							</li>

						{% endif %}
						{% if LoggedUserInfo.uid %}

							<li>
								<a
									href={{route ('dashboard') }}>
									YOU ARE LOGGED IN AS&nbsp
									{{ LoggedUserInfo.uid }}
								</a>
							</li>

						{% endif %}

						{% if LoggedUserInfo.uid %}

							<li>
								<a
									href={{route("logout")}}>
									LOGOUT&nbsp

								</a>
							</li>
						{% endif %}

					</ul>
				</div>
			</nav</section>

			<div
				class="text-box">
				{% block DASHBOARD %}
					<h1>
						Most accurate crypto prices
					</h1>


					<div
						class="container">
						{% block CONTENT %}
							<div
								class="row"></div>
							<div
								style="margin-top:20;">

								{% if session ('success') %}
									<div
										class="alert alert-sucess">
										{{ session ('success') }}
										{{ session ('uid') }}
									</div>
								{% endif %}

							</div>
						{% endblock CONTENT %}
					</div>

					<div
						class="footer">
						<footer>
							<p>
								&copy Crypto cene 2022
							</p>
						</footer>
					</div>
				{% endblock DASHBOARD %}
			</div>
		</body>
	</body>
</html></p></body></html></body></html></body></html></body><script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
	crossorigin="anonymous"></script></html>
